* {
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    overflow: hidden;
}

.wrapper {
    /* border: 5px solid green; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    height: 96vh;
    overflow: hidden;
}

.title-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: blueviolet;
    font-weight: bold;
    color: white;
    padding: 5px;
    border: 3px solid black;
}

.mid-container {
    /* border: 2px solid red; */
    display: flex;
    flex-basis: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.left-panel {
    /* border: 4px solid green; */
    display: flex;
    flex-flow: column nowrap;
    border-right: 2px solid black;
    max-width: 250px;
    min-width: 250px;
    position: sticky;
    top: 0;
    padding: 10px 10px 10px 10px;
    background-color: #f0f0f0;
}

.sku-info-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    margin: 0 0 39px 0;
    font-size: .9rem;
}

.image-area {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    flex-basis: 100%;
    border-bottom: 2px solid black;
    padding: 15px;
}

.image-area img {
    width: 100%;
    max-width: 1600px;
}

.thumbs-container {
    /* border: 2px solid green; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 170px;
    background-color: #f0f0f0;
}

.thumb {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 10px;
}

.thumb img {
    border: 2px solid black;
    margin: 0 0 5px 0;
    width: 150px;
    height: auto;
}

.thumb select {
    width: 150px;
}

.thumb-primary {
    border: 2px solid black;
    width: 220px;
    height: auto;
}

.thumb-delete-image {
    position: absolute;
    right: 18px;
}

.thumb-approve-image {
    position: absolute;
    left: 18px;
}

.thumb-delete-image,
.thumb-approve-image {
    display: none;
    background-color: white;
    color:  black;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: 5px;
    cursor: pointer;
}

.thumb:hover .thumb-delete-image,
.thumb:hover .thumb-approve-image {
    display: block;
}

.btn-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

.btn-upload-image,
.btn-commit         {
    flex-basis: 100%;
    margin-bottom: 30px;
}

.btn-upload-image {
    background-color: rgb(84, 185, 110);
}

.btn-commit {
    background-color: rgb(238, 92, 92);
}

button {
    border: 2px solid black;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    flex-basis: 47%;
    min-height: 25px;
    font-size: .8rem;
    font-weight: bold;
    margin: 5px 0 5px 0;
    box-shadow: 2px 2px 5px black;
}

button:active {
    box-shadow: 0px 0px 0px black;
    background-color: rgb(173, 173, 173);
    transform: scale(.95);
}

.btn-upload-image:active {
    background-color: rgb(66, 139, 84);
}

.btn-commit:active {
    background-color: rgb(185, 82, 82);
}

.section-title {
    font-weight: bold;
    width: 100%;
    background-color: #99b4d1;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

















@media (max-height: 940px) {
    .wrapper {
        flex-flow: row nowrap;
    }

    .title-bar {

    }

    .mid-container {
        flex-flow: column nowrap;
        overflow: hidden;
        justify-content: center;
        align-items: stretch;
        min-width: 1000px;
    }

    .left-panel {
        /* border: 2px solid green; */
        display: flex;
        flex-flow: row nowrap;
        flex-basis: 100%;
        justify-content: center;
        border-right: none;
        max-width: 100%;
        max-height: 230px;
        padding: 10px 10px 10px 10px;
        background-color: #f0f0f0;
    }

    .sku-info-section {
        /* border: 2px solid red; */
        max-width: 250px;
        min-width: 150px;
        font-size: .9rem;
        padding: 0 20px 0 20px;
    }

    button {
        height: 20px;
        width: 47%;
        flex-basis: auto;
        align-self: center;
        justify-self: stretch;
    }

    .image-area {
        /* border: 2px solid blue; */
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;
        flex-basis: 100%;
        border-bottom: 2px solid black;
        padding: 15px;
    }

    .thumbs-container {
        /* border: 6px solid green; */
        flex-flow: column nowrap;
        overflow-x: hidden;
        overflow-y: auto;
        min-width: 180px;
        max-width: 190px;
        order: -1;
    }

}